@import 'stylesheet.css';

p {
  text-align: left;
}

div.header > p {
  font-size: 18px;
}

.header {position:relative; top:5px; left:3px; max-width:100% }
.content {position:relative; left:5px; width:100%; max-width:95%}
